.welcome-page_container {
    position: relative;
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fada5e;
    background-size: contain;
    background-repeat: no-repeat;
}

.welcome-page_container p {
    color: #23297a;
    width: 100%;
    text-align: center;
}